.lite {
  i {
    display: block;
    margin: 10px auto -10px;
    line-height: 64px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    color: #616161;
  }
}

#lite {
  @media (min-width:768px) {
    .container.ombre {
      width: 750px;
    }
  }

  .router-link-exact-active,
  .navEntities {
    display: none;
  }

  .headerSubTitle {
    padding: 0.5em 0;
    margin-left: -5px;
  }

  .bleu a {
    &:hover,
    &:focus,
    &:active {
      i {
        background-color: $bleu;
        color: #fff;
      }
    }
  }

  .rouge a {
    &:hover,
    &:focus,
    &:active {
      i {
        background-color: $rouge;
        color: #fff;
      }
    }
  }

  .vert a {
    &:hover,
    &:focus,
    &:active {
      i {
        background-color: $vert;
        color: #fff;
      }
    }
  }

  .jaune a {
    &:hover,
    &:focus,
    &:active {
      i {
        background-color: $jaune;
        color: #fff;
      }
    }
  }
}
