$monthly: #DBA306; // $jaune foncé
$onetime: #366F86; // $bleu foncé

#soutenir {
  background: transparent url('../img/dots.png') no-repeat 5% 95%;

  .ombre {
    padding: 1em 2em 0;
  }

  h2 {
    font-size: 46px;
  }

  h3 {
    color: #616161;
  }

  #why, #timeline, #money { /* = scroll to #soutenir */
    position: absolute;
  }

  #why ~ .container .why,
  #timeline ~ .container .timeline,
  #money ~ .container .money {
    display: none;
  }

  #why:target ~ .container .why,
  #timeline:target ~ .container .timeline,
  #money:target ~ .container .money {
    display: block;
  }

  .card {
    margin-top: -1px;
    border-radius: 0;
  }

  .card-header h4 {
    color: #555;
    font-size: 1.25rem;

    &:first-letter {
      color: #dba306;
    }
  }

  #f-modal-tl {
    top: 40px;

    .modal-header {
      background: #fff;
    }

    .modal-body {
      padding: 0;
    }

    .modal-footer {
      border: none;

      .btn-primary {
        display: none;
      }
    }

    .modal-content {
      border-radius: 0;
    }
  }
}

.money img {
  display: block;
  margin: auto;
}

#howmuch {
  .active, :active {
    box-shadow: none;
  }

  .btn i { color: #757575; }

  .btn:nth-of-type(2).active {
    span { border-bottom: 3px solid $monthly; }
    i { color: $monthly; }
  }

  .btn:nth-of-type(1).active {
    span { border-bottom: 3px solid $onetime; }
    i { color: $onetime; }
  }

  .amount {
    line-height: 2em;
    padding: 1em 0;
  }
}

.amount {
  .btn {
    display: inline-block;
    font-size: 1.2em;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 0.65em 0;
    text-align: center;
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 0;
    width: 100%;

    &.selected {
      color: #fff;

      &:hover, &:focus {
        opacity: 0.9;
      }
    }
  }

  .input-group input {
    margin-left: -1px;
    width: 100%;
  }

  .input-group div,
  .input-group input {
    font-size: 1.2rem;
    box-shadow: none;
    height: auto;
    border-radius: 0;
  }
}

.monthly .amount {
  &.amount1 {
    display: none;
  }

  .btn {
    &.selected {
      background-color: $monthly;
      border-color: $monthly;
    }

    &:hover, &:focus {
      border-color: $monthly;
    }
  }

  .input-group {
    &.selected {
      div {
        background-color: $monthly;
        color: #fff;
      }
      div, input {
        border-color: $monthly;
      }
    }

    &:hover, &:focus {
      div,
      input {
        border-color: $monthly;
      }
    }
  }
}

.onetime .amount {
  &.amountM {
    display: none;
  }

  .btn {
    &.selected {
      background-color: $onetime;
      border-color: $onetime;
    }

    &:hover, &:focus {
      border-color: $onetime;
    }
  }

  .input-group {
    &.selected {
      div {
        background-color: $onetime;
        color: #fff;
      }
      div, input {
        border-color: $onetime;
      }
    }

    &:hover, &:focus {
      div,
      input {
        border-color: $onetime;
      }
    }
  }
}

#soutenir {
  .modal-header {
    background: $onetime;
    display: block;
  }

  cite.alert {
    display: block;
  }

  .monthly .modal-header {
    background: $monthly;
  }

  .btn-group {
    outline: 0;
  }
}

#whoAreYou {
  .card {
    background: #f5f5f5;
  }

  p.pull-left {
    line-height: 30px;
    margin: 0;
  }

  .btn-group {
    .active, :active {
      box-shadow: none;
    }
    i { color: #757575; }
  }

  .input-group-prepend .input-group-text {
    color: #757575;
    background: #fff;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom-color: #fff;
    border-radius: 0;
  }

  input, select {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }

  #address1 {
    border-bottom-style: dashed;
  }

  #email,
  #nickname,
  #country {
    border-bottom-color: #fff;
  }

  #nickname[readonly="readonly"] {
    border-bottom-color: #e9ecef;
  }

  #firstname, #city {
    border-left: 1px solid #ccc;
  }
}

.monthly #whoAreYou {
  .btn.active {
    span { border-bottom: 3px solid $monthly; }
    i { color: $monthly; }
  }
}

.onetime #whoAreYou {
  .btn.active {
    span { border-bottom: 3px solid $onetime; }
    i { color: $onetime; }
  }
}

#payment{
  label.btn {
    width: 100%;
    border-radius: 0;
    margin-bottom: 10px;
    background-color: #fff;
    border-bottom-width: 3px;
    i { color: #757575; }
  }

  .active, :active {
    box-shadow: none;
  }

  .col-xs-3:nth-of-type(1) { padding: 0 10px 0 15px; }
  .col-xs-3:nth-of-type(2) { padding: 0 10px 0 5px; }
  .col-xs-3:nth-of-type(3) { padding: 0 10px 0 5px; }
  .col-xs-3:nth-of-type(4) { padding: 0 15px 0 5px; }
}

.monthly #payment {
  .btn.active {
    border-color: $monthly;
    i { color: $monthly; }
  }
}

.onetime #payment {
  .btn.active {
    border-color: $onetime;
    i { color: $onetime; }
  }
}

#btnVerif {
  font-size: 24px;
  padding: 0.6em 2em;
  margin: 1em 0 0.75em;
  color: #fff;
  background-color: $onetime;
  border: 1px solid $onetime;

  &:hover, &:focus {
    opacity: 0.9;
  }
}

.monthly #btnVerif {
  background-color: $monthly;
  border: 1px solid $monthly;
}

.help-block li {
  font-size: 12px;
}

.clearfix.help-block {
  margin-left: -2em;
  margin-right: -2em;
  margin-bottom: -1em;
  margin-top: 0;
  padding: 1em 2em;
  background: #f5f5f5;
  border-top: 1px solid #eee;
}
