

/*--------------------- patches portables (proposition pyg) -------------------------*/
    @media screen and (max-width: 319px) {
	h1 {font-size: 1.6em !important;}
	#headerSubTitle {font-size: 1em !important;}
	.accroche, ul.accroche {font-size: 1em !important;}
    }

    @media screen and (min-width: 320px) and (max-width: 479px) {
	h1 {font-size: 2.3em !important;}
	#headerSubTitle {font-size: 1.15em !important;}
	.accroche, ul.accroche {font-size: 1em !important;}
    }
	
   @media (max-width: 767px) {

    /* on reduit ou vire les padding du body pour maximiser l'espace de lecture */

      body {
        padding-right: 0px;
        padding-left: 0px;
      }

    /* on occupe le maximum d'espace */
	.sitename {
		margin-left: 0em;
	}
	
     .sitename, .accueil, .blocCommunaute, #presentationLogiciels, #presentationLibrenVrac,  .miniBloc , #presentationLibre,#presentationServices, .miniBloc2 {

        margin-left: 0 !important;
        margin-right: 0 !important;
        width: 100% !important;
        min-height: none !important;
      }


    /* La liste des projets */

      .listeFramaTrucs {
        /*margin-left: -1.5em;
        margin-right: 1.5em;*/
        padding-left: none;
        float: left;
        width: none;
      }
	#blocFramatrucs, .titreFramaTrucs ,.liensFramatrucs, .listeFramaTrucs {
		margin-left: 0em !important;
		margin-right: 0em !important;
		padding-left: 0em !important;
		}
	.FramaTrucs {
		float: left;
		margin-left: 0em !important;
		padding-left: 0em !important;
	}

    /* Les sous-titres */

	 .header .span4 {
    width: 89.7% !important;
	}
	.navEntities {
		margin-left: 0em !important;
	}

    /* violent ? on vire les navEntities2, peu utiles sur petits ecrans */

      .navEntities2 {
        display: none;
      }
	  
	 .span8 > .accueil {
		margin-left: 0em !important;
		width: 100% !important;
	  }
	  
	  .accroche, ul.accroche {
		margin: 0em !important;
	  }
	  #pingouinVolant {
		display: none !important;
	  }


    }
	
   @media screen and (min-width: 768px) and (max-width: 1024px) {

       
      .lienFramatrucs {
        width: 450px !important;
      }
      .framaTrucs {
        width: 250px !important;
      }
      

    }
	


