<template>
  <section id="c2022-how">
    <b-container class="px-md-0">
      <b-row class="justify-content-end justify-content-md-center">
        <b-col cols="12">
          <h2
            class="quack"
            style="display: none;"
            v-html="$t('c2022.how.ctitle')"
          ></h2>
          <h2 v-html="$t('c2022.how.title')"></h2>
        </b-col>
        <b-col
          v-for="n in 4"
          :key="n"
          cols="10"
          md="6"
          lg="5"
          :order-md="(n === 3) ? '5' : n"
        >
          <b-button
            :id="`arrow${n}`"
            variant="light w-100 my-3"
          >
            <i class="fas fa-arrow-turn-down"></i>
            <i class="fas fa-arrow-up"></i>
            <i class="fas fa-arrow-down"></i>
            <div class="position-relative">
              <div class="front">
                <span
                  class="h1"
                  v-html="$t(`c2022.how.arrow${n}.label`)"
                ></span>
              </div>
              <div class="back">
                <span
                  class="h4"
                  v-html="$t(`c2022.how.arrow${n}.label`)"
                ></span>
                <p v-html="$t(`c2022.how.arrow${n}.desc`)"></p>
              </div>
            </div>
          </b-button>
        </b-col>
      </b-row>
    </b-container>
  </section>
</template>

<style lang="scss">
#c2022-how {
  background: var(--f-g2);
  padding: 4rem 0;

  .order-md-1, .order-md-2 {
    align-content: end;
    display: flex;
  }

  .order-md-4, .order-md-5 {
    align-content: start;
  }

  .btn-light {
    min-height: 220px;
    position: relative;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;

    .front {
      position: absolute;
      width: 100%;
      height: 100%;
      display:flex;
      align-items: center;
      justify-content: center;
    }

    .back {
      visibility: hidden;
      width: calc(100% - 4rem);
      text-align: left;

      @media (max-width: 768px) {
        text-align: right;
        margin-left: auto;
      }
    }

    &:focus {
      box-shadow: none;

      .front {
        visibility: hidden;
      }

      .back {
        visibility: visible;
      }
    }

    .fa-arrow-turn-down {
      color: var(--f-g6);
      font-size: 5rem;
      position: absolute;
    }

    .fa-arrow-down,
    .fa-arrow-up {
      font-size: 4rem;
      color: var(--f-g6);
      position: absolute;
    }

    .fa-arrow-down {
      left: 1rem;
      bottom: -1.5rem;
    }

    .fa-arrow-up {
      left: -3.5rem;
      top: -1rem;
      font-size: 2rem;
      color: var(--f-g5);
    }

    .fa-arrow-turn-down {
      display: none;
    }

    @media (min-width: 768px) {
      .fa-arrow-turn-down {
        display: inline-flex;
      }

      .fa-arrow-up,
      .fa-arrow-down {
        display: none;
      }
    }
  }

  #arrow1 {
    .fa-arrow-turn-down {
      transform: rotate(270deg);
      bottom: 1rem;
      right: -.5rem;
    }

    &:hover, &:focus {
      background: var(--f-f2);

      .fa-arrow-turn-down, .fa-arrow-down,
      .h4, .h1 {
        color: var(--f-f7);
      }
    }
  }
  #arrow2 {
    .fa-arrow-turn-down {
      bottom: -1rem;
      left: 1.5rem;
    }

    .back {
      text-align: right;
      margin-left: auto;
    }

    &:hover, &:focus {
      background: var(--f-v2);

      .fa-arrow-turn-down, .fa-arrow-down,
      .h4, .h1 {
        color: var(--f-v6);
      }
    }
  }
  #arrow3 {
    .fa-arrow-turn-down {
      transform: rotate(90deg);
      top: 1rem;
      left: -.5rem;
    }

    .back {
      text-align: right;
      margin-left: auto;
    }

    &:hover, &:focus {
      background: var(--f-o2);

      .fa-arrow-turn-down, .fa-arrow-down,
      .h4, .h1 {
        color: var(--f-o7);
      }
    }
  }
  #arrow4 {
    .fa-arrow-turn-down {
      transform: rotate(180deg);
      top: -1rem;
      right: 1.5rem;
    }

    &:hover, &:focus {
      background: var(--f-b2);

      .fa-arrow-turn-down, .fa-arrow-down,
      .h4, .h1 {
        color: var(--f-b7);
      }
    }
  }

  @media (max-width: 768px) {
    #arrow4 {
      .fa-arrow-turn-down {
        display: inline-flex;
        left: -1.5rem;
        bottom: 1rem;
        top: auto;
        right: auto;
        transform: rotate(90deg);
      }

      .fa-arrow-down {
        display: none;
      }
    }

    #arrow1 {
      .fa-arrow-turn-down {
        display: inline-flex;
        color: var(--f-g5) !important;
        left: -2.5rem;
        top: 3rem;
        font-size: 4rem;
        bottom: auto;
        right: auto;
      }

      .fa-arrow-up {
        display: none;
      }
    }
  }
}
</style>
