<template>
  <b-container
    id="f-page"
    tag="main"
  >
    <b-row>
      <h1 class="col-12 text-center">
        <span v-html="$t('charte.title')"></span>
      </h1>
      <b-col
        class="mx-auto"
        lg="9"
      >
        <div v-html="$t('charte.md')"></div>

        <div class="signature">
          <hr />
          <div v-html="$t('charte.footer')"></div>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<style lang="scss">
#charte {
  b {
    &.violet, &.orange {
      color: inherit !important;
    }
  }
}
</style>
