<template>
  <b-container
    id="f-page"
    tag="main"
  >
    <b-row>
      <h1 class="col-12 text-center">
        <span v-html="$t('manifest.title')"></span>
      </h1>
      <b-col
        class="mx-auto"
        lg="9"
      >
        <div
          class="intro"
          v-html="$t('manifest.intro')"
        ></div>
      </b-col>
    </b-row>

    <b-row
      v-for="(key, index) in Object.keys($t('manifest'))
        .filter(k => !/(title|intro|footer)/.test(k))"
      :key="key"
    >
      <b-col
        class="mx-auto"
        lg="9"
      >
        <h2 v-html="$t(`manifest.${key}.title`)"></h2>
        <b-row
          align-h="center"
          align-v="center"
        >
          <b-col
            :class="`order-1 order-md-${index % 2}`"
            cols="6"
            md="4"
          >
            <img
              alt=""
              class="rounded-circle img-fluid"
              :src="`${$t('baseurl')}img/manifest/${key}.jpg`"
            />
          </b-col>
          <b-col
            cols="12"
            md="8"
          >
            <div v-html="$t(`manifest.${key}.desc`)"></div>
          </b-col>
        </b-row>
      </b-col>
    </b-row>

    <b-row>
      <b-col
        class="mx-auto"
        lg="9"
      >
        <div class="signature">
          <hr />
          <div v-html="$t('manifest.footer')"></div>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<style lang="scss">
#manifest {
  #f-page {
    h1 {
      margin-bottom: 0;
    }

    img {
      border: 5px solid var(--f-g4);
      margin: .5rem;
    }

    .mx-auto.col-lg-9 h2 {
      margin-top: 4rem;
    }

    .intro {
      p {
        text-indent: 2rem;
        font-size: 1.2rem;
        font-style: italic;
      }
    }
  }
}
</style>
