<template>
  <b-container
    id="f-page"
    tag="main"
  >
    <b-row>
      <h1 class="col-lg-9 text-center mx-auto">
        <span v-html="$t('moderation.title')"></span>
      </h1>
      <b-col
        class="mx-auto"
        lg="9"
      >
        <div v-html="$t('moderation.md')"></div>

        <div class="signature">
          <hr />
          <div v-html="$t('moderation.footer')"></div>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<style lang="scss">
#moderation {
  #f-page h1 {
    margin-bottom: 0;
  }
}
</style>
