<template>
  <section id="h-fuel">
    <b-container class="my-5 px-md-0">
      <b-row class="mb-5 mx-0">
        <b-row class="py-4 my-5">
          <b-col lg="6">
            <h2 v-html="$t('home.fuel.title')"></h2>
            <p v-html="$t('home.fuel.desc')"></p>
            <b-row
              class="list-unstyled my-0"
              tag="ul"
            >
              <b-col
                v-for="n in $t('home.fuel.list').length"
                :key="n"
                md="6"
                class="my-2"
                tag="li"
              >
                <div
                  class="p-4 text-center"
                  v-html="$t(`home.fuel.list[${n-1}]`)"
                ></div>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
      </b-row>
    </b-container>
  </section>
</template>

<style lang="scss">
#h-fuel {
  position: relative;
  color: #fff;
  font-size: 1.125rem;

  &::before {
    background:
      var(--f-f7)
      url('../../../public/img/bg-windmill.jpg')
      no-repeat
      bottom left;
    background-size: cover;
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @media (min-width: 992px) {
      background-position: bottom right;
    }
  }

  h2 {
    margin: -11rem auto 8rem 0;
  }

  li div {
    align-items: center;
    border: 1px solid #fff;
    border-radius: .5rem;
    background: #3d2957aa;
    display: flex;
    height: 100%;
    justify-content: center;
    min-height: 150px;

    &:hover {
      background: var(--f-f8);
    }

    a {
      color: #fff;
      text-decoration: none;
      display: flex;
      height: 100%;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      br { display: none; }
    }
  }
}
</style>
