<template>
  <section id="h-politic">
    <b-container class="my-5 px-md-0">
      <h2 v-html="$t('home.politic.title')"></h2>
      <b-row align-h="center">
        <b-col
          v-for="n in 2"
          :key="n"
          lg="4"
        >
          <div
            v-html="$t(`home.politic.col[${n-1}]`)"
          ></div>
          <p
            v-if="n === 2"
            class="mt-4 mb-2 text-right"
          >
            <b-button
              :to="`/${$t('lang')}/manifest`"
              variant="outline-warning"
            >
              <span v-html="$t('home.politic.btn')"></span>
              <i class="fas fa-chevron-right"></i>
            </b-button>
          </p>
        </b-col>
      </b-row>

      <b-row class="pb-4">
        <b-col
          class="mt-4 mx-auto mb-5"
          lg="8"
        >
          <blockquote
            v-html="$t('home.politic.quote')"
          ></blockquote>
        </b-col>
      </b-row>
    </b-container>
  </section>
</template>

<style lang="scss">
#h-politic {
  h2 {
    margin: -7rem auto 6rem 0;
  }

  blockquote {
    font-size: 2rem;
    padding: 2.5rem;
    margin: 0;
    border-radius: .5rem;
  }
}
</style>
