/* Framasoft styles for external purpose */
@import '../../commons/scss/frama/colors';

/* Fonts */
@import 'fonts/dejavu-sans';
@import 'fonts/roboto';
@import 'fonts/tovari-sans';

/* Frama */
@import '../../commons/scss/frama/bootstrap4/alert';
@import '../../commons/scss/frama/bootstrap4/badge';
@import '../../commons/scss/frama/bootstrap4/buttons';
@import '../../commons/scss/frama/bootstrap4/links';
@import '../../commons/scss/frama/bootstrap4/type&code';

body {
  background: var(--f-g3);
  position: relative;

  &::before {
    background: linear-gradient(-170deg,#5f2d76,#7dafb6);
    background:
      var(--f-f8)
      url('../../public/img/bg-sky.jpg')
      no-repeat
      center;
    background-size: cover;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

main {
  h1 {
    margin: -4rem auto 3rem 1rem;
    transform: rotate(-2deg);

    span {
      background: var(--f-o6);
      border-radius: .5rem;
      color: #fff;
      display: inline-block;
      font-family: 'Tovari Sans', sans-serif;
      font-size: 2.4rem;
      @media (min-width: 576px) {
        font-size: 3rem;
      }
      font-style: normal;
      line-height: 2.5rem;
      padding: 1.25rem 1.75rem .5rem;
      text-transform: uppercase;
    }
  }

  h2 {
    color: var(--f-g10);
    font-family: 'Tovari Sans', sans-serif;
    font-size: 2.4rem;
    @media (min-width: 576px) {
      font-size: 3rem;
    }
    line-height: 2.5rem;
    margin-bottom: 1rem;
  }

  .btn-outline-warning {
    font-weight: bold;
    border: none;
    background: #fff;

    &:hover, &:focus, &:active {
      background: var(--f-o7);
      color: #fff;
    }
  }
}